<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.training.mybatis.oracle.mapper.StoreInfoMapper">

	<select id="memberInfo" resultType="com.ecommerce.vo.MemberInfo">
		SELECT IDENTIFICATION_NO,
		  CUSTOMER_NAME,
		  PASSWORD,
		  PHONE,
		  EMAIL
		FROM BEVERAGE_MEMBER
		WHERE IDENTIFICATION_NO = #{memberID}
	</select>
	
	<update id="updateLoginTime">
		UPDATE BEVERAGE_MEMBER
		SET 
			LOGIN_DATE = TO_DATE(#{loginDate}, 'YYYY-mm-DD HH24:MI:SS') 
		WHERE IDENTIFICATION_NO = #{identificationNo}
	</update>
	
</mapper>